.container {
  padding: 10px;
  padding-top: 25px;
}
.block {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.list {
  display: flex;
  flex-direction: column;
}

.listComplete {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.panel {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25%;
  min-height: 100%;

}

.slick {
  position: sticky;
  top: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  height: 800px;
  box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, .3);
  border-radius: 12px;
  background-color: #263238;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  color: #a7ffeb;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  max-width: 220px;
  margin: auto;
  margin-bottom: 30px;
}

.pie {
  width: 100%;
  height: 200px;
}

.bar {
  width: 100%;
  margin-top: 100px;
  height: 300px;
}