.FormControl {
  position: relative;
}

.spanError,
.fromSpanError {
  position: absolute;
  top: -50%;
  left: 95%;
  min-width: 180px;
  text-align: center;
  display: block;
  opacity: 0;
  color: #263238;
  padding: 7px 15px;
  border-radius: 15px;
  background-color: #ff1744;
  z-index: 1;
  transition: .3s;
}

.fromSpanError {
  top: 0 !important;
  min-width: 195px;
}

.ellipse {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ff1744;
  border-radius: 50%;
  left: -55px;
  top: 100%;
}

.spanError::after,
.fromSpanError::after {
  content: '';
  position: absolute;
  display: block;
  background-color: #ff1744;
  width: 40px;
  height: 2px;
  left: -14%;
  top: 15px;
}

.spanError::before,
.fromSpanError::before {
  content: '';
  position: absolute;
  display: block;
  background-color: #ff1744;
  width: 36px;
  height: 2px;
  left: -28%;
  top: 27px;
  transform: rotate(-45deg);
}

.fromSpanError::before {
  left: -26.5%;
}

.FormControl.error input,
.FormControl.error textarea,
.FormControl.error .spanError {
  border-bottom: 2px solid #ff1744;
  opacity: 1 !important;
}

.FormControl.error label {
  color: #ff1744;
}

.formSummaryError {
  border: 2px solid #ff1744;
}

.formSummaryError span.fromSpanError {
  border-bottom: 2px solid #ff1744;
  opacity: 1 !important;
}


/* FILE */

.block {
  width: 200px;
  height: 70px;
  position: relative;
  overflow: hidden;
  padding-top: 5px;
}
.btnTertiary {
  padding: 0;
  line-height: 30px;
  width: 30px;
}

.inputFile {
  width: 300px;
  height: 25px;
  position: absolute;
  left: -125px;
  bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  cursor: pointer;
  outline: none !important;
  border: none !important;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-left: 10px;
  outline: none !important;
  border: none !important;
}

.icon img {
  width: 100%;
  height: 100%;
  transition: .2s;
}

.icon:hover img {
  filter: drop-shadow(0px 0px 3px #64ffda)
}

.imageFile::-webkit-file-upload-button {
  border: none;
  outline: none;
  padding: 6px 20px;
  border-radius: 8px;
  transition: .2s;
  background-color: #263238;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.imageFile::-webkit-file-upload-button:hover {
  background-color: #64ffda;
  color: #111111;
}