
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #565c68;
  padding-right: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel {
  display: flex;
  flex-direction: column;
}

.message {
  padding-left: 8px;
  font-size: 20px;
}

.remove, .complete {
  background: none;
  width: 30px;
  border: none;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.complete {
  width: 35px;
}

.icon {
  width: 100%;
  transition: .2s;
}

@media (min-width: 992px) {
  .remove:hover, .complete:hover {
    cursor: pointer;
  }
  .remove:hover img {
    filter: drop-shadow(0px 0px 3px #ff1744)
  }
  .complete:hover img{
    filter: drop-shadow(0px 0px 3px #a7ffeb )
  }
}
